*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0e0e0e;;
}

header{
    background-color: #0e0e0e;
    padding: 30px;
    display: flex;
    align-items: center;
}
.list{
    display: flex;
    flex-direction: row;
}
.logo{
    position: absolute;
    height: 90px;
    width: 90px;
    top: -15px;
}
ul{
    display: flex;
    /* justify-content: center; */
    margin-left: 80px;
    align-items: center;
}
li{
    color: #8a8a8a;
    padding-left: 28px;
    list-style: none;
    font-size: 18px;
    cursor: pointer;
   
}
li:hover{
    color: #9f4bb1;
}
.search{
   position: absolute;
   top: 16px;
   left: 1070px;
   height: 30px;
   width: 200px;
border-radius: 5px;
background: #272727

}
input{
    /* border-color: blue; */
    color: #8a8a8a;
    outline: 0;
}
.sLogo{
position: absolute;
height: 20px;
width: 20px;
left: 1243px;
top: 21px;

}
.s1Logo{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 1243px;
    top: 21px;
    opacity: 0;
}
.s1Logo:hover{
   opacity: 1;
}

.scroll{
   /* position:absolute; */
    display: flex;
    overflow-x: scroll;
  
    
   

 
}

/* width */

 .scroll::-webkit-scrollbar {
     width: 2px;
 }
 
 .scroll::-webkit-scrollbar {
   height: 8px;
  }
 
 .scroll::-webkit-scrollbar-thumb {
     border-radius: 8px;
     -webkit-box-shadow: inset 1px 1px 10px#8a8a8a;
 
    
 }
.a{
    color: #494949;
    background-color: #0e0e0e;
    border: none;
    /* border-bottom: 1px solid #494949; */
    /* border-top:1px solid black;
    border-left: 1px solid #0e0e0e;
    border-right:1px solid #0e0e0e; */
 padding: 11px 21px 11px 21px;
    /* outline: #0e0e0e; */
    border-bottom: 1px solid #0e0e0e;
    cursor: pointer;

}



.a:hover{
    border-bottom: 1px solid #9f4bb1;
    }




    .footer {
        position: relative;
        top: 1000px;
        background-color: rgb(245, 159, 0);
        color: white;
        font-size: larger;
        text-align: center;
      
        padding-top: 6px;
    padding-bottom: 6px;
    }

.tvTitle{
    position: relative;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    /* background: red; */
    padding: 6px;
    top: 30px;
    left: 60px;
    border-left: 4px solid #9f4bb1;
    padding-right: 1000px;
    }
    
    
    
    
    
    
    #tvList1{
        display: flex;
        align-items: center;
        position: absolute;
        /* background-color: green; */
        height: 70px;
        width: 1240px;
        top: 220px;
     left: 50px;
        z-index: -2;
        border-top: 0.5px solid #8a8a8a1e;
        border-bottom: 0.5px solid #8a8a8a1e;
    
    }
    .btnImg1{
        position: absolute;
        /* top: 860px; */
        left: 70px;
        height: 50px;
        width: 30px;
        color: white;
        background-color: black;
        border: black;
        
    }
    /* #tvImg1{
        position: absolute;
        /* top: 860px; */
        /* left: 10px; */
    /* } */ 
    
    .tvH1{
        position: absolute;
        /* top: 855px; */
        left: 60px;
        color: white;
        font-size: 18px;
        font-family: sans-serif;
        padding: 20px;
        padding-left: 50px;
    }
    .tvh1{
        position: absolute;
        /* top: 855px; */
        left: 125px;
        color: white;
        font-size: 14px;
        font-family: sans-serif;
        padding: 20px;
    }
    
    /* NO.2 */
    
    #tvList2{
        display: flex;
        align-items: center;
        position: absolute;
        /* background-color: green; */
        height: 70px;
        width: 1240px;
        top: 280px;
     left: 50px;
        z-index: -2;
        border-bottom: 0.5px solid #8a8a8a1e;
       
    
    }
    .btnImg2{
        position: absolute;
        /* top: 925px; */
        left: 70px;
        height: 50px;
        width: 30px;
        color: white;
        background-color: black;
        border: black;
        
    }
    /* #tvImg2{
        position: absolute;
        
    } */
    
    .tvH2{
        position: absolute;
        /* top: 926px; */
        left: 60px;
        color: white;
        font-size: 18px;
        font-family: sans-serif;
        padding: 20px;
        padding-left: 50px;
        
    }
    .tvh2{
        position: absolute;
        /* top: 926px; */
        left: 125px;
        color: white;
        font-size: 14px;
        font-family: sans-serif;
        padding-left: 50px;
        padding: 20px;
    }
    
    /* NO.3  */
    
    #tvList3{
        display: flex;
        align-items: center;
        position: absolute;
        /* background-color: green; */
        height: 70px;
        width: 1240px;
        top: 340px;
     left: 50px;
        z-index: -2;
        border-bottom: 0.5px solid #8a8a8a1e;
       
    
    }
    /* #tvImg3{
        position: absolute;
        /* top: 995px;  */
        /* left: 10px; */
     /* } */ 
    
    .btnImg3{
        position: absolute;
        /* top: 995px; */
        left: 70px;
        height: 50px;
        width: 30px;
        color: white;
        background-color: black;
        border: black;
        
    }
    
    .tvH3{
        position: absolute;
      
        left: 60px;
        color: white;
        font-size: 18px;
        font-family: sans-serif;
        padding: 20px;
        padding-left: 50px;
        position: absolute;
        /* top: 995px; */
       
    }
    .tvh3{
        position: absolute;
        /* top: 996px; */
        left: 125px;
        color: white;
        font-size: 14px;
        font-family: sans-serif;
        padding-left: 50px;
        padding: 20px;
    }
    
    /* NO.4*/
    
    #tvList4{
        display: flex;
        align-items: center;
        position: absolute;
        /* background-color: green; */
        height: 70px;
        width: 1240px;
        top: 400px;
     left: 50px;
        z-index: -2;
        border-bottom: 0.5px solid #8a8a8a1e;
    }
    /* #tvImg4{
        position: absolute;
        top: 1065px;
        left: 10px;
    } */
    .btnImg4{
        position: absolute;
        /* top: 1065px; */
        left: 70px;
        height: 50px;
        width: 30px;
        color: white;
        background-color: black;
        border: black;
        
    }
    .tvH4{
        position: absolute;
        /* top: 1031px; */
        left: 60px;
        color: white;
        font-size: 18px;
        font-family: sans-serif;
        padding-left: 50px;
        padding: 50px;
    }
    .tvh4{
        position: absolute;
        /* top: 1082px; */
        left: 145px;
        color: white;
        font-size: 14px;
        font-family: sans-serif;
    }
    
    /* No.5  */
    
    #tvList5{    
        display: flex;
        align-items: center;
        position: absolute;
        /* background-color: green; */
        height: 70px;
        width: 1240px;
        top: 460px;
     left: 50px;
        z-index: -2;
        border-bottom: 0.5px solid #8a8a8a1e;
        
    }
    
    /* #tvImg5{
        position: absolute;
        top: 1135px;
        left: 10px;
    } */
    .btnImg5{
        position: absolute;
        /* top: 1135px; */
        left: 70px;
        height: 50px;
        width: 30px;
        color: white;
        background-color: black;
        border: black;
        
    }
    .tvH5{
        position: absolute;
        /* top: 1126px; */
        left: 60px;
        color: white;
        font-size: 18px;
        font-family: sans-serif;
      
        padding: 20px;
        padding-left: 50px;
    }
    .tvh5{
        position: absolute;
        /* top: 1148px; */
        left: 145px;
        color: white;
        font-size: 14px;
        font-family: sans-serif;
    }


    #tvList6{    
        display: flex;
        align-items: center;
        position: absolute;
        /* background-color: green; */
        height: 70px;
        width: 1240px;
        top: 520px;
     left: 50px;
        z-index: -2;
        border-bottom: 0.5px solid #8a8a8a1e;
        
    }

    #tvList7{    
        display: flex;
        align-items: center;
        position: absolute;
        /* background-color: green; */
        height: 70px;
        width: 1240px;
        top: 580px;
     left: 50px;
        z-index: -2;
        border-bottom: 0.5px solid #8a8a8a1e;
        
    }